<!DOCTYPE html>
<html>
<head>
     <style>
        
    </style>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' 
    content='width=device-width, initial-scale=1'>
      <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <div class="f1">
<h1>Login</h1>
   
    <form action="/login" method="post">
    <input type="text"  name="name" 
    placeholder="Enter Name"><br><br>
    <input type="password"  name="password" 
    placeholder="Enter Password"><br><br>
    <input type="submit">
    </form>

    <a href="/signup">Go to Signup page</a>
     </div>
</body>
</html>